body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    transition: all ease-in-out 1000ms;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family:'Century Gothic', 'Arial Narrow', Arial, sans-serif;
    transition: all ease-in-out 1000ms;
}
.box_img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;

}
.box p{
    text-align: justify ;
}
ul{
    margin: 0;
    padding: 0;
}
.box li {
    display: inline-block;
    margin: 5px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 1000ms;
}

.box li a:hover{

    background: rgba(115, 115, 182, 0.404);
    border-radius: 100%;
}